<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
   	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd
  	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.3.xsd
	http://www.springframework.org/schema/jdbc 
	http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
	http://cxf.apache.org/jaxws
    http://cxf.apache.org/schemas/jaxws.xsd
   ">

	<context:component-scan
		base-package="com.epam.mentoring.webservices.rest.controller" />
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:database.properties</value>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>


	<import resource="classpath:dataBaseSource.xml" />

	<jdbc:embedded-database id="dataSource" type="DERBY"/>
	
	<!-- HSQL Config 


	<beans profile="dev">
		<jdbc:embedded-database id="dataSource" type="HSQL"/>
	</beans>
	
	<beans profile="prod">
		
	</beans>
	
	<jdbc:embedded-database id="dataSource" type="HSQL">
	</jdbc:embedded-database>-->


	<!-- DERBY Config <jdbc:embedded-database id="dataSource" type="DERBY"> 
		</jdbc:embedded-database> <bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource" 
		destroy-method="close"> <property name="URL" value="${jdbc.url}" /> <property 
		name="user" value="${jdbc.username}" /> <property name="password" value="${jdbc.password}" 
		/> <property name="connectionCacheProperties"> <props merge="default"> <prop 
		key="MinLimit">3</prop> <prop key="MaxLimit">50</prop> </props> </property> 
		</bean> -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configurationClass">
			<value>org.hibernate.cfg.Configuration</value>
		</property>

		<property name="hibernateProperties">
			<props>
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop> -->
				<prop key="hibernate.dialect">${jdbc.dialect}</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.jdbc.batch_size">100</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>User.hbm.xml</value>
				<value>Task.hbm.xml</value>
			</list>
		</property>

	</bean>

	<bean id="userDAO" class="com.epam.mentoring.webservices.dao.UserDAO" />
	<bean id="taskDAO" class="com.epam.mentoring.webservices.dao.TaskDAO" />

	<bean id="jsonConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="prefixJson" value="false" />
		<property name="supportedMediaTypes" value="application/json" />
	</bean>

	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jsonConverter" />
			</list>
		</property>
	</bean>


	<!-- Swagger Config -->

	<bean id="swagger2Config"
		class="springfox.documentation.swagger2.configuration.Swagger2DocumentationConfiguration" />

	<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/" />
	<mvc:resources mapping="/webjars/**"
		location="classpath:/META-INF/resources/webjars/" />

	<import resource="classpath:META-INF/cxf/cxf.xml" />

	<jaxws:endpoint id="taskService" address="/TaskService"
		implementor="com.epam.mentoring.webservices.soap.TaskServiceImpl" />

	<jaxws:endpoint id="userService" address="/UserService"
		implementor="com.epam.mentoring.webservices.soap.UserServiceImpl" />

	<jaxws:client id="userClient"
		serviceClass="com.epam.mentoring.webservices.soap.UserService"
		address="${application.userServiceAddress}" />

	<jaxws:client id="taskClient"
		serviceClass="com.epam.mentoring.webservices.soap.TaskService"
		address="${application.taskServiceAddress}" />

	<!-- Configuring interceptor -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.epam.mentoring.webservices.config.ExecuteTimeInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- Configuring post processor -->
	<bean class="com.epam.mentoring.webservices.config.ApplicationProcessor" />
	
</beans>